.recipe-detail {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 500px; /* Adjusted width */
  height: auto; /* Ensure height is auto to grow with content */
  min-height: 300px; /* Ensure minimum height */
  margin: 20px auto;
  background-color: #f9f9f9;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.recipe-detail h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-detail p {
  font-size: 1.2em;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.recipe-detail button {
  background-color: rgba(0, 0, 255, 0.781);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recipe-detail button:hover {
  background-color: rgb(102, 111, 247);
}

/* Responsive Styles */
@media (min-width: 576px) {
  .recipe-detail {
      padding: 30px;
      max-width: 450px; /* Adjusted width */
      min-height: 320px; /* Ensure minimum height */
  }

  .recipe-detail h1 {
    font-size: 0.5 em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .recipe-detail p {
      font-size: 1.3em;
      
  }

  .recipe-detail button {
      padding: 12px 24px;
  }
}

@media (min-width: 768px) {
  .recipe-detail {
      max-width: 600px;
      padding: 40px;
      min-height: 340px; /* Ensure minimum height */
  }

  .recipe-detail h1 {
      font-size: 3em;
  }

  .recipe-detail p {
      font-size: 1.4em;
  }

  .recipe-detail button {
      padding: 14px 28px;
  }
}

@media (min-width: 992px) {
  .recipe-detail {
      max-width: 700px;
      padding: 50px;
      min-height: 360px; /* Ensure minimum height */
  }

  .recipe-detail h1 {
      font-size: 3.5em;
  }

  .recipe-detail p {
      font-size: 1.5em;
  }

  .recipe-detail button {
      padding: 16px 32px;
  }
}

@media (min-width: 1200px) {
  .recipe-detail {
      max-width: 800px;
      padding: 60px;
      min-height: 380px; /* Ensure minimum height */
  }

  .recipe-detail h1 {
      font-size: 4em;
  }

  .recipe-detail p {
      font-size: 1.6em;
  }

  .recipe-detail button {
      padding: 18px 36px;
  }
}
